/* XL Device :1200px. */
/* @media (min-width: 1200px) and (max-width: 1500px) {


} */

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    /* slider area */
    .slider-wrapper h2 {
        font-size: 2.125rem;
    }
    .single-slider {
        min-height: 60vh;
    }
    /* help area */
    .helping-img {
        left: 0;
    }


    /* footer area */
    .footer-widget form button {
        right: -9px;
    }

    /* sticky footer */
    main {
        margin-bottom: 0;
    }
    footer {
        position: relative;
    }
    /* sticky footer end */






}

 
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    /* header top */
    .contact-wrapper {
        justify-content: center;
        padding: 0.938rem;
    }
    .social-contact {
        justify-content: center;
    }

    /* slider area */
    .slider-wrapper {
        padding: 0 9rem;
    }
    .single-slider {
        min-height: 60vh;
    }
    .slider-active .slick-arrow {
        top: 42%;
    }
    .slider-wrapper h2 {
        font-size: 2.125rem;
    }


    /* help area */
    .helping-img {
        left: 0;
        margin-bottom: 2.5rem;
    }

    /* section title */
    .section-title {
        padding: 0 5rem;
    }


    /* service area */
    .service-area .single-service {
        padding: 4.37rem 0;
    }
    
    /* practise area */
    .practise-wrapper {
        margin-top: 2.5rem;
    }
    .practise-wrapper h4 a {
        line-height: 1.2rem;
    }

    /* counter area */
    .counter-wrapper span.count-span {
        font-size: 3rem;
    }
    /* portfolio area */
    .showcase-bg {
        min-height: 28rem;
    }
    /* portfolio area */
    .showcase-wrapper {
        top: 5.8rem;
    }
    /* portfolio team area */
    .team-img {
        margin-top: 2rem;
    }
    /* testimonial area */
    .single-testimonial {
        margin-left: 3rem;
    }
    .testim-text p {
        padding-right: 2rem;
    }
    /* footer area */
    .footer-widget form button {
        right: 19.375rem;
    }
    .footer-title {
        margin-top: 3rem;
    }

    /* for sticky footer */
    main {
        margin-bottom: 0;
    }
    footer {
        position: relative;
    }
    /* sticky footer end */



    /* -------------------------------- page.html ------------------------------- */
    .business-img img:hover {
        transform: scale(1);
    }



}

 
/* Extra small Device. */
@media (max-width: 767px) {
    /* header area */
    .header-contact {
        display: none;
    }

    .header-main .container {
        max-width: 100%;
    }
    .header-wrapper {
        padding: 0 2rem;
    }
    .menu-icons {
        display: flex;
    }
    .menu-icons i {
        font-size: 1.5rem;
        color: #4A657D;
        cursor: pointer;
        transition: all .2s ease 0s;
    }
    .close-menu {
        display: none;
    }
    .menu-icons .open-menu:hover {
        transform: rotate(180deg);
        transform: scale(1.3);
    }
    .menu-icons .close-menu:hover {
        transform: rotate(90deg);
    }

    .menu {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        width: 100%;
        height: 0vh;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease 0s;
    }
    .menu li {
        margin-left: 0;
    }
    .menu li a {
        display: block;
        padding: 2rem 3rem;
    }

    /* slider area */
    .single-slider {
        min-height: 50vh;
    }
    .slider-active .slick-arrow {
        width: 3.37rem;
    }
    .slider-wrapper {
        padding: 0 5rem;
    }
    .slider-wrapper h2 {
        font-size: 2.125rem;
    }
    /* help area */
    .helping-img {
        left: 0;
        margin-bottom: 2rem;
    }

    /* section title */
    .section-title {
        padding: 0;
    }

    /* practise wrapper */
    .practise-wrapper {
        margin-top: 3rem;
    }
    /* counter area */
    .counter-wrapper {
        margin-top: 4rem;
    }
    
    /* portfolio team area */
    .portfolio-team {
        padding-top: 6.25rem;
    }

    /* testimonial area */
    
    .single-testimonial {
        flex-direction: column;
        margin-left: 0;
    }

    .testim-text {
        margin-left: 0rem;
        margin-top: 2rem;
    }
    .testim-text p {
        padding-right: 0;
        text-align: justify;
    }
    .testim-img img {
        display: inline-block;
    }

    /* footer area */

    /* for sticky footer */
    main {
        margin-bottom: 0;
    }
    footer {
        position: relative;
    }
    /* sticky footer end */


    .footer-widget form button {
        right: 35px;
    }

    .footer-widget form input {
        width: 20rem;
    }

    .footer-widget form {
        margin-top: 2.5rem;
        position: inherit;
    }
    .footer-widget form input {
        width: 100%;
    }
    .footer-widget form button {
        position: inherit;
        margin-top: 0.5rem;
    }

    /* -------------------------------- page.html ------------------------------- */
    .business-img img:hover {
        transform: scale(1);
    }




 
}
 
/* SM Small Device :550px. */
/* @media only screen and (min-width: 576px) and (max-width: 767px) {

} */
